* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  position: fixed;
  overflow: hidden;
}

#root {
  position: fixed;
  overflow: scroll;
  width: 100%;
  height: 100%;
  cursor: default;
}

.container2 {
  width: 100vw;
  height: 100vh;
}

.container2 > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  pointer-events: none;
  justify-content: start !important;
  font-family: "Kanit", sans-serif;
  line-height: 0px;
  text-transform: uppercase;
}

.number {
  font-size: 450px;
  color: #373c4c;
}

.number span {
  display: inline-block;
  position: relative;
  transform: translate3d(-35%, 0, 0);
}

.page1_caption {
  margin-left: 180px;
  color: white;
  position: relative;
  bottom: 40%;
  background: linear-gradient(to right, white 0%, palevioletred 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page2_caption {
  margin-left: 180px;
  color: white;
  position: relative;
  bottom: 40%;
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page3_caption {
  margin-left: 180px;
  color: white;
  position: relative;
  bottom: 40%;
  background: linear-gradient(to right, tomato 0%, gold 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stripe {
  height: 2px;
  width: auto;
}

.content {
  pointer-events: none;
  justify-content: start !important;
  font-family: "Kanit", sans-serif;
  /* line-height: 10px; */
  text-transform: none;
  color: white;
  font-size: 35px;

  display: block;
  margin-top: 100px;
  position: relative;
  bottom: 285px;
  left: 220px;
}
.page1_text {
  pointer-events: none;
  justify-content: start !important;
  font-family: "Kanit", sans-serif;
  /* line-height: 10px; */
  text-transform: none;
  color: white;
  font-size: 35px;

  display: block;
  margin-top: 100px;
  position: relative;
  bottom: 180px;
  left: 850px;
}
.page1_text2 {
  pointer-events: none;
  justify-content: start !important;
  font-family: "Kanit", sans-serif;
  /* line-height: 10px; */
  text-transform: uppercase;
  color: white;
  font-size: 35px;

  display: block;
  margin-top: 100px;
  position: relative;
  bottom: 85px;
  left: 200px;
}
.page1_img {
  pointer-events: none;
  justify-content: start !important;
  display: block;
  position: relative;
  margin-left: 840px;
  top: 110px;
}
.page1_img2 {
  pointer-events: none;
  justify-content: start !important;
  display: block;
  position: relative;
  margin-left: 350px;
  bottom: 0px;
}
.page2_text {
  pointer-events: none;
  justify-content: start !important;
  font-family: "Kanit", sans-serif;
  /* line-height: 10px; */
  text-transform: none;
  color: white;
  font-size: 30px;

  display: block;
  margin-top: 100px;
  position: relative;
  bottom: 180px;
  left: 850px;
}
.page2_img {
  pointer-events: none;
  justify-content: start !important;
  display: block;
  position: relative;
  margin-left: 930px;
  top: 50px;
}
.page2_img2 {
  pointer-events: none;
  justify-content: start !important;
  display: block;
  position: relative;
  margin-left: 350px;
  bottom: 0px;
}
.page3_text {
  pointer-events: none;
  justify-content: start !important;
  font-family: "Kanit", sans-serif;
  /* line-height: 10px; */
  text-transform: none;
  color: white;
  font-size: 25px;

  display: block;
  margin-top: 100px;
  position: relative;
  bottom: 180px;
  left: 650px;
}
.page3_text2 {
  pointer-events: none;
  justify-content: start !important;
  font-family: "Kanit", sans-serif;
  /* line-height: 10px; */
  text-transform: none;
  color: white;
  font-size: 15px;

  display: block;
  margin-top: 100px;
  position: relative;
  bottom: 140px;
  left: 650px;
}
.page3_img {
  pointer-events: none;
  justify-content: start !important;
  display: block;
  position: relative;
  margin-left: 850px;
  top: 100px;
}
.page3_img2 {
  pointer-events: none;
  justify-content: start !important;
  display: block;
  position: relative;
  margin-left: 350px;
  bottom: 0px;
}
.last_caption {
  margin-left: 500px;
  color: white;
  position: relative;
  bottom: 40%;
  background: linear-gradient(to right, white 0%, greenyellow 100%);
  -webkit-text-fill-color: transparent;
}
.last_content {
  pointer-events: none;
  justify-content: start !important;
  font-family: "Kanit", sans-serif;
  /* line-height: 10px; */
  text-transform: none;
  color: white;
  font-size: 35px;

  display: block;
  margin-top: 100px;
  position: relative;
  bottom: 285px;
  left: 400px;
}

.last_img {
  pointer-events: none;
  justify-content: start !important;
  display: block;
  position: relative;
  margin-left: 300px;
}
.last_img2 {
  pointer-events: none;
  justify-content: start !important;
  display: block;
  position: relative;
  margin-left: 600px;
  margin-top: 10px;
}
.last_img3 {
  pointer-events: none;
  justify-content: start !important;
  display: block;
  position: relative;
  margin-left: 900px;
  margin-top: 60px;
}

.slopeBegin {
  background-color: #20232f;
  clip-path: polygon(20vw 0, 70% 0, calc(70% - 20vw) 100%, 0 100%);
}

.slopeEnd {
  clip-path: polygon(
    70% 0,
    100% 0,
    calc(100% - 20vw) 100%,
    calc(70% - 20vw) 100%
  );
}

.slopeBegin,
.slopeEnd {
  position: absolute;
  width: 135%;
  height: 100%;
  cursor: pointer;
}

.pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.tomato {
  background: linear-gradient(to right, tomato 0%, gold 100%);
}

.green {
  background: linear-gradient(to right, white 0%, greenyellow 100%);
  /* color: greenyellow; */
  /* color: cyan; */
}
